<%- include('../partials/header') %>
<main>
  <h1><%= title %></h1>

  <section>
    <h3>Account Info</h3>
    <p><strong>Role:</strong> <%= user.role_name %></p>
    <p><strong>Bio:</strong> <%= user.bio %></p>
    <p><strong>Member Since:</strong> <%= user.created_at.toDateString() %></p>
    <p><strong>Total Vacations</strong> <%= vacays.length %></p>
  </section>

  <% if (isOwnProfile) { %>
  <section>
    <h3>Quick Actions</h3>
    <ul>
      <p><strong>Email:</strong> <%= user.email %></p>
      <li>
        <form method="POST" action="">
          <button type="submit">Edit Profile Information</button>
        </form>
      </li>
      <li>
        <a href="/community/my-submissions"
          >View Community Submission History</a
        >
      </li>
      <li><a href="/vacations/new">Create New Vacation</a></li>
      <% if (currentUser.user_id === 2) { %>
      <li><a href="/dashboard">Moderation Panel</a></li>
      <% } %>

      <li>
        <form method="POST" action="">
          <button type="submit">Delete My Profile</button>
        </form>
      </li>
      <li>
        <form method="POST" action="/auth/logout">
          <button type="submit">Logout</button>
        </form>
      </li>
    </ul>
  </section>

  <section>
    <h3>Feedback</h3>
    <form method="POST" action="/users/user/<%= currentUser.user_id %>">
      <% types.forEach(t => { %>
      <label>
        <input type="radio" name="type" value="<%= t %>" required />
        <strong><%= t %></strong>
      </label>
      <% }) %>

      <textarea
        name="message"
        placeholder="Got feedback or a bug report?"
      ></textarea>
      <button type="submit">Send</button>
    </form>
  </section>
  <% } %>

  <section>
    <h3>
      <%= isOwnProfile ? "Your" : user.username + "'s" %> Vacation Vision Board
    </h3>
    <% vacays.forEach(v => { %>
    <div class="vacation-card">
      <h3><a href="/vacations/<%= v.vacation_id %>"><%= v.title %> </a></h3>
      <p><strong>Destination:</strong> <%= v.destination %></p>
      <p><strong>Created: </strong> <%= v.created_at %></p>
      <p><%= v.description %></p>
      <% if (v.image_url && v.image_url.match(/^https?:\/\/|^\/images\//)) { %>
      <img
        src="<%= v.image_url %>"
        alt="Image of <%= v.title %>"
        style="max-width: 300px"
      />
      <% } else { %>
      <p style="color: orange"><em>Invalid or missing image URL</em></p>
      <% } %> <% if (isOwnProfile) { %>
      <a href="/vacation/<%= v.vacation_id %>/edit">Edit</a>
      <% } %>
    </div>
    <% }) %>
  </section>

  <% if (isOwnProfile) { %>
  <section>
    <h2>Your Favorite Vacations</h2>
    <p>Coming soon...</p>
  </section>
  <% } %>
</main>
<%- include('../partials/footer') %>
